{% extends 'base.html' %}

{% block content %}
<section class="education" id="education">
    <h2 class="heading"> Work & Education</h2>
    <div class="timeline-items">
        <div class="timeline-item">
            <div class="timeline-dot"></div>
                <div class="timeline-date"> 2025</div>
                <div class="timeline-content">
                    <h3>AIUT Sp.z.o.o</h3>
                    <p>Lorem ipsum Lorem ipsum Lorem ipsum
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
                </div>


        </div>

        <div class="timeline-item">
            <div class="timeline-dot"></div>
                <div class="timeline-date"> 2024</div>
                <div class="timeline-content">
                    <h3>Honda Of Canada Manufacturing</h3>
                    <p>Lorem ipsum Lorem ipsum Lorem ipsum
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
                </div>


        </div>

        <div class="timeline-item">
            <div class="timeline-dot"></div>
                <div class="timeline-date"> 2019 - now </div>
                <div class="timeline-content">
                    <h3>Data Engineer - Freelnace</h3>
                    <p>Lorem ipsum Lorem ipsum Lorem ipsum
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
                </div>


        </div>



            <div class="timeline-item">
            <div class="timeline-dot"></div>
                <div class="timeline-date"> 2019</div>
                <div class="timeline-content">
                    <h3>University & Job Master's Degree & Opel</h3>
                    <p>Lorem ipsum Lorem ipsum Lorem ipsum
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
                </div>


        </div>

            <div class="timeline-item">
            <div class="timeline-dot"></div>
                <div class="timeline-date"> 2018</div>
                <div class="timeline-content">
                    <h3>University - Bachelor</h3>
                    <p>Lorem ipsum Lorem ipsum Lorem ipsum
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
                </div>


        </div>

            <div class="timeline-item">
            <div class="timeline-dot"></div>
                <div class="timeline-date"> 2015</div>
                <div class="timeline-content">
                    <h3>Job - Fiat</h3>
                    <p>Lorem ipsum Lorem ipsum Lorem ipsum
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
                </div>


        </div>
    </div>
</section>
{% endblock %}