{% extends 'base.html' %}


{% block content %}

<section class="home">
    <div class="home-info">
        <h1>Peter Oswiecimski</h1>
        <h2>I'm a Frontend Developer</h2>
        <p>with passion for creating beautiful and responsive websites.
         Lorem<br> ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum aaaa</p>
        <div class="btn-sci">
            <a href="#" class="btn">Download Resume</a>
            <div class="sci">
                <a href="#"><i class="fa fa-github" style="font-size:24px"></i> </a>
                <a href="#"><i class="fa fa-linkedin" style="font-size:24px"></i> </a>


            </div>
        </div>
    </div>

    <div class="home-img">
        <div class="img-box">
            <div class="img-item">
                <img src="static\img\main_photo.png" alt="">

            </div>
        </div>
    </div>
</section>

{% endblock %}