{% extends 'base.html' %}


{% block content %}

<section class="portfolio">

    <div class="portfolio-info">
        <h1>Peter Oswiecimski</h1>
        <h2>I'm a Frontend Developer</h2>
        <p>with passion for creating beautiful and responsive websites.
         Lorem<br> ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum aaaa</p>

    </div>




</section>












<div class="carousel">
  <div class="carousel-inner">
    <img src="static\img\Pandas_Chart.png" alt="">
    <img src="static\img\R_chart.png" alt="">
    <img src="static\img\tableau_chart_1.png" alt="">


  </div>
</div>

{% endblock %}