{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"  />
<section class="service-section">
    <div class="container">
        <div class="row">
            <div class="header-section">
                <h2 class="title">My <span>service</span></h2>
            </div>
            <p class="description">
                Lorem ipsum v Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                Lorem ipsum Lorem ipsum
            </p>
        </div>
        <div class="row">
            <div class="service-column">
                <div class="single-service">
                    <div class="content">
                        <span class="icon">
                            <i class="fa-brands fa-python"></i>

                        </span>
                        <h3 class="main-title">Web Development</h3>
                        <p class="description">
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                        </p>

                    </div>
                    <span class="circle-before"></span>
                </div>
            </div>
            <div class="service-column">
                <div class="single-service">
                    <div class="content">
                        <span class="icon">
                            <i class="fa-brands fa-python"></i>

                        </span>
                        <h3 class="main-title">Web Development</h3>
                        <p class="description">
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                        </p>

                    </div>
                    <span class="circle-before"></span>
                </div>
            </div>
            <div class="service-column">
                <div class="single-service">
                    <div class="content">
                        <span class="icon">
                            <i class="fa-brands fa-python"></i>

                        </span>
                        <h3 class="main-title">Web Development</h3>
                        <p class="description">
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                        </p>

                    </div>
                    <span class="circle-before"></span>
                </div>
            </div>
            <div class="service-column">
                <div class="single-service">
                    <div class="content">
                        <span class="icon">
                            <i class="fa-brands fa-python"></i>

                        </span>
                        <h3 class="main-title">Web Development</h3>
                        <p class="description">
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                        </p>

                    </div>
                    <span class="circle-before"></span>
                </div>
            </div>
            <div class="service-column">
                <div class="single-service">
                    <div class="content">
                        <span class="icon">
                            <i class="fa-brands fa-python"></i>

                        </span>
                        <h3 class="main-title">Web Development</h3>
                        <p class="description">
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                        </p>

                    </div>
                    <span class="circle-before"></span>
                </div>
            </div>
            <div class="service-column">
                <div class="single-service">
                    <div class="content">
                        <span class="icon">
                            <i class="fa-brands fa-python"></i>

                        </span>
                        <h3 class="main-title">Web Development</h3>
                        <p class="description">
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                        </p>

                    </div>
                    <span class="circle-before"></span>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}